@import 'grid';

// ff meta web pro font-weights
$normal: 400;
$bold: 700;
$extra-bold: 800;
$black: 900;

//FOUT, it is the worst
body{
  font-family: helvetica;
  font-size: $font-size;
  line-height: 1.5;
  visibility: hidden;
}
.wf-inactive body{
  display: block;
  visibility: visible;
}
.wf-active body{
  font-family: 'proxima-nova', helvetica, arial, sans-serif;
  display: block;
  visibility: visible;
}

// Header
h1{
  font-weight: bold;
  font-family: 'proxima-nova', Helvetica, sans-serif;
  font-weight: 800;
  font-size: 2.4em;
  margin-top: 0;
  a{
    color: $body-text;
    border-bottom: 0;
    background: none;
    padding: 0;
  }
}
h2{
  font-family: 'proxima-nova', helvetica, arial, sans-serif;
  font-size: 1.5em;
  a{
    border-bottom: 0;
    background: none;
  }
}
h3{
  font-size: 1.4em;
}
.center{
  text-align: center;
}
.masthead-tagline{
  font-size: 1em;
  font-family: 'proxima-nova', helvetica, arial, sans-serif;
  font-weight: 700;
}

// Body Text
p, blockquote{
  font-size: 1em;
  line-height: 1.8em;
  margin-bottom: 1em;
}
li{
  font-size: .9em;
  line-height: 1.8em;
}

// Various
.details{
  font-size: .8em;
  font-family: 'proxima-nova', helvetica, arial, sans-serif;
}
.date{
  margin: 0;
  color: lighten($body-text, 10%);
}
nav ul a{
  font-family: 'proxima-nova', helvetica, arial, sans-serif;
  font-size: .7em;
  border-bottom: 0;
  background: none;

}
nav ul{
  margin-bottom: 0;
  margin-top: .6em;
}

// Links
a{
  color: $body-text;
  text-decoration: none;
  padding: 3px;
  background-color: lighten(#D9E8F7, 4%);
  -webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
}
a:hover{
  opacity: .8;
}
.caption{
  margin-top: 0;
  font-size: .6em;
}
