$border-gray: #DDDDDD;
$background-gray: #F7F7F7;
$code-background-gray: #484848;
$code-text-white: #F7F7F1;
$highlight-blue: #9FC4EE;
$highlight-blue-darker: #5878AC;
$link-green: #5b9c3e;
$body-text: #303030;
