@import 'normalize';
@import 'variables';
@import 'typography';
@import 'grid';
@import 'queries';

// Decoration
  html{

}

//—————————————————————//
    //****LAYOUT****//
//—————————————————————//

// Header

header{
  padding-bottom: 1.5em;
  border-bottom: 1px solid $border-gray;
  background-image: url(/images/highbg.png);
  background-color: $highlight-blue;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position:fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
}
.masthead-title{
  margin-bottom: 0;
}
.masthead-tagline{
  margin-top: 0;
}
nav{
  text-align: right;
}
nav ul{
  li{
    list-style-type: none;
    float: right;
    text-transform: uppercase;
    :after{
      content: "\00a0/";
    }
  }
  li:first-of-type{
    :after{
      content: ""
    }
  }
}
header{
  height: 12em;
  overflow: hidden;
}
.headroom--not-top{
  height: 6em;
  transition:all 0.3s;
  -webkit-box-shadow: 0px 0px 4px 0px #75747B;
        box-shadow: 0px 0px 4px 0px #75747B;
  .masthead-tagline {
    visibility: hidden;
    opacity:0;
    transition:visibility 0s linear 0.3s,opacity 0.3s linear;
  }
}
.headroom--top{
  height: 12em;
  transition:all 0.3s;
  .masthead-tagline {
    visibility: visible;
    opacity: 1;
    transition:opacity 0.5s linear;

  }
}
// Main
blockquote{
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  border-left: 3px solid $border-gray;
  font-size: 1.3em;
}
code{
  display: block;
  margin: 1em;
  padding: .5em;
  color: $code-text-white;
  white-space: pre-wrap;
  background-color: $code-background-gray;
}
.article-header{
  h2{
    margin-bottom: 0;
  }
  p{
    margin-top: 0;
  }
}
.article-content img{
  display: block;
  margin: auto;
}
.article-content ul{
  padding-left: .5em;
  li{
    list-style-type: circle;
    list-style-position: inside;
  }
}
.article-related ul{
  padding-left: .5em;
  li{
    list-style-type: none;
    list-style-position: outside;
  }
}
.read-more{
  text-align: right;
}
.more-arrow{
  position: relative;
}
#arrow{
  fill: #D9E8F7;
}
.polygoner{
  width: 30px;
  height: 30px;
  position: relative;
  top: -40px;
  display: block;
  margin: auto;
  margin-bottom: -45px;
}
#Polygon-1{
  fill: none;
  stroke: $highlight-blue-darker;
}
.flag-chart{
  width: 23px;
  height: 23px;
  margin-right: 2px;
}
.flag{
  height: 23px;
  width: 33px;
  margin-right: 3px;
}
.logo{
  display: block;
  margin: auto;
  height: 80px;
  width: 160px;
}
hr{
  border-bottom: 1px solid $highlight-blue;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 1.5em 0 1.5em 0;
}
/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
// Footer
footer{
  min-height: 6em;
  width: 100%;
  background-color: $background-gray;
  border-top: 1px solid $border-gray;
  margin-top: 1.5em;
  padding-top: 1em;
  padding-bottom: 2.5em;
  a{
    background: none;
  }
}
